{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

<table class = "table table-striped">
    <thead class = "thead-dark">
        <tr>
            <th>
                Symbol
            </th>
            <th>
                Name
            </th>
            <th>
                Shares
            </th>
            <th>
                Price
            </th>
            <th>
                Total
            </th>
        </tr>
    </thead>
    <tbody>
        {% for purchase in purchases %}
        <tr>
            <td>{{ purchase.symbol}}</td>
            <td>{{ purchase.name}}</td>
            <td>{{ purchase.shares}}</td>
            <td>{{ purchase.price}}</td>
            <td>{{ purchase.total}}</td>

        </tr>

    {% endfor %}
    <tr>
            <td>CASH</td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{user_cash}}</td>

    </tr>
    <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>{{total}}</td>

    </tr>


    </tbody>


</table>

{% endblock %}